@import "font"

$font-s : 12px
$bg-header-context : '../images/bg.jpg'
$bg_color-header-context : #3562C7
$image_roof : '../images/roof_bright.png'
$image_logo : '../images/logo.png'
$aside-bg-color : #F1F9FC
$aside-bg-border-right :  rgba(192, 192, 192, 0.5)
$nav-bgcolor-active : #2980B9
$nav-bgcolor-hover : #DCEFFE
$nav-bor-bottom-coler : #ccc
$aside-nav-bgcolor-active : #479BD7
$aside-nav-bgcolor-active-rgb : rgb(71,155,215)
$aside-nav-bgcolor-active-rgba : rgba(71,155,215, .7)
@mixin radial-gradient($from, $to)
    $gradient : rgba(255,255,255,.1)
    background: radial-gradient($to 15%, transparent 16%) 0 0,radial-gradient($to 15%, transparent 16%) 8px 8px,radial-gradient($gradient 15%, transparent 20%) 0 1px,radial-gradient($gradient 15%, transparent 20%) 8px 9px
    background-color: $from
    background-size: 16px 16px
@mixin aside-border()
    -moz-box-shadow: inset -2px 0px 2px $aside-bg-border-right
    -webkit-box-shadow: inset -2px 0px 2px $aside-bg-border-right
    box-shadow: inset -2px 0px 2px $aside-bg-border-right
@mixin i-con($name, $padding)
    padding: $padding
    background: url('/technc/backend/web/images/icons/'+$name) center center no-repeat
body
    font-family : sukhumvitlight
    background-color: #FFF
    font-size: 14px
    width: 100%
    position: fixed
a
    text-decoration: none
a:hover
    text-decoration: none

.header-top-fix
    position: fixed
    height: 30px
    width: 100%
    z-index: 99999
    color: #fff
    font-size: $font-s
    border-bottom: 1px solid #CDCDCD
    @include radial-gradient(#282828, black)
.sh
    

.input-group-addon
.input-group-addon:hover
    background-color: #ddd
    color: #000
    border: 1px solid #ccc
   
.header-context
    position: absolute
    width: 100%
    top: 29px
    background: url($bg-header-context) $bg_color-header-context no-repeat
    border-bottom: 2px solid $nav-bgcolor-active
    .roof
        position: relative
        height: 15px
        width: 100%
        background: transparent url($image_roof) repeat-x 0 0

    .logo-main
        background: url($image_logo) no-repeat
        height: 60px
        width: 162px
        float: left
        margin-left: 14px
    .menumain
        position: absolute
        left: 178px
        ul.nav
            list-style-type: none
            > li
                width: 80px
                height: 60px
                background-color: #fff
                margin-right: 1px
                float: left
                display: block
                border-top-left-radius: 5px
                border-top-right-radius: 5px
                border: 1px solid rgba(192, 192, 192, 0.5)
                a
                    font-size: 14px
                    font-weight: bold
                    text-align: center
                    padding: 5px 0px
                    line-height: 25px
                    :hover
                        background-color: $nav-bgcolor-hover

            > li.active
                background-color: $nav-bgcolor-active
                border-bottom: none
                a
                    color: #fff

            > li:hover
                a
                    background-color: $nav-bgcolor-hover
                    height: 59px
                    border-top-left-radius: 5px
                    border-top-right-radius: 5px
            > li.active:hover
                a
                    background-color:  $nav-bgcolor-active




aside
    margin-top: 102px
    width: 180px
    height: 100%
    background-color: $aside-bg-color
    float: left
    @include aside-border()

    nav
        ul
            font-family : Sukhumvitlight
            font-size: 16px
            font-weight: bold
            list-style-type: none
            padding: 0px
            margin: 0px
            li:first-child
                border-top: 2px solid $nav-bgcolor-active
            li
                a
                    height: 45px
                    color: #000
                    display: block
                    white-space: nowrap
                    padding: 10px 0px 5px 10px //top left bottom  right
                    border-right: 1px solid #DCDCDC
                    border-bottom: 1px solid #DCDCDC
                a:hover
                    background-color: $nav-bgcolor-hover
                    @include aside-border()
            li.active
                a
                    color: #fff
                    background-color: $aside-nav-bgcolor-active
                    border: none
                    :hover
                        color: #fff
                        background-color: $aside-nav-bgcolor-active
                        @include aside-border()
                ul.dropdown-list
                    position: relative
                    display: block
                    visibility: visible
                    top: 0
                    left: 0
                    li > a
                        color: #fff
                        background: $aside-nav-bgcolor-active-rgb
                        background: $aside-nav-bgcolor-active-rgba
                        padding-left: 20px
                        font-size: 15px
                        border-bottom: 1px dashed #ccc 
                        background-color: none
                        opacity:none
                        filter: none
                        @include aside-border()
                    li > a:hover
                        background-color: $aside-nav-bgcolor-active-rgb
                    li:last-child >  a
                        border-bottom: none
            li.resize-in
                background-color: $nav-bgcolor-active
            li.resize-in
                a:hover
                    background-color: $nav-bgcolor-active
                ul
                    a:hover
                        background-color: $nav-bgcolor-hover


            li.active::before
                background-color: #fff
                box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 )
                content: "\00a0"
                display: block
                height: 20px
                position: relative
                float: right
                margin-top: 10px
                margin-right: -10px
                transform: rotate( 45deg )
                width:  20px
            li.dropdown:hover
                ul
                    display: block
                    visibility: visible
            ul.dropdown-list
                position: absolute
                background: $nav-bgcolor-hover
                border: none
                border-radius: 0
                border-bottom: 1px solid #c0c0c0
                left: 100%
                clear: both
                top: -2px
                visibility: hidden
                zoom: 1px
                z-index: 9
                li
                    width: 180px
                li a
                    font-size: 16px
                    padding-left: 10px
                    padding-top: 10px
                li.active
                    background-color: $nav-bgcolor-active
                    a:hover
                        background-color: $nav-bgcolor-active
                li.active::before
                    content: none


        .resize
            margin-top: 5px
            margin-right: 5px
            float: right
            padding: 2px
            background-color: #fff
            color:  #666
            border: 1px solid #ccc
            border-radius: 5px
            cursor: pointer
            span
                font-weight: bold
                font-size: 13px

aside.resize-in
    width: 50px
    nav
        ul
            li
                a span
                    visibility: hidden
            li.dropdown.active
                ul

                ul > li
                    a span
                        visibility: visible
            li.dropdown
                a span
                    visibility: hidden
            li.dropdown:hover
                ul > li
                    a span
                        visibility: visible

section
    font-family: 'THSarabunNew'
    right: 0
    left: 180px
    height: auto
    position: absolute
    top: 104px
    border-top: 2px solid $nav-bgcolor-active
    article
        .breadcrumb
            height: 44px
            padding: 2px
            background-color: #fff
            border-bottom: 1px dashed #ccc
        .breadcrumb::before
            content: url('../images/icons/arrow-right.png')
            position: absolute
            top: 5px
            left: 10px
        .breadcrumb-title
            position: absolute
            top: 8px
            left: 55px
            p
                font-size: 15px
                font-weight: bold
                line-height: 10px
            p.th
                color: #BBB
            p.en
                color: #479BD7

#iframe-page
    min-height: 300px
.group-addon
    padding: 6px 12px
    font-size: 14px
    font-weight: normal
    line-height: 1
    color: #555
    text-align: center
    background-color: #EEE
    border: 1px solid #CCC
    border-radius: 4px
    display: table-cell
    width: 1%
    white-space: nowrap
    vertical-align: middle
    border-top-left-radius: 0px
    border-bottom-left-radius: 0px
i.i-cog
    @include i-con('cog.png', 10px)
i.i-add
    @include i-con('add.png', 10px)


.grid-view
    table.items
        background: white
        border-collapse: collapse
        width: 100%
        border: 1px #D0E3EF solid
        thead
            tr
                th
                    color: white
                    background: url("../images/bg.gif") repeat-x scroll left top white
                    text-align: center
                    border: 1px white solid
                    padding: 5px
                    a
                        color: white
                    a:hover
                        color: #FFF
                    a.asc
                        background: url("../images/up.gif") right center no-repeat
                        padding-right: 15px
                    a.desc
                        background: url("../images/down.gif") right center no-repeat
                        padding-right: 15px
                    a.desc:after,a.asc:after
                        content: none
        tbody
            tr
                td
                    font-size: 1.0em
                    border: 1px white solid
                    padding: 0.3em
            tr:hover > td
                background: #ECFBD4
                cursor: pointer
            tr:nth-child(even)
                background: #F8F8F8
            tr:nth-child(odd)
                background: #E5F1F4
            tr.selected
                background: #BCE774
            tr:hover.selected
                background: #CCFF66
            tr.upcol
                background: #BCE774
    .link-column img
        border: 0
    .button-column
        text-align: center
        width: 60px
    .button-column img
        border: 0
    .checkbox-column
        width: 15px
    .summary
        margin: 0 0 5px 0
        text-align: right
    .pager
        margin: 5px 0 0 0
        text-align: right
    .empty
        font-style: italic
    .filters input,.filters select
        width: 100%
        border: 1px solid #ccc








