@charset "UTF-8";
@font-face {
  font-family: "THSarabunNew";
  src: url("./fonts/thaisarabun/thsarabunnew-webfont.eot");
  src: url("./fonts/thaisarabun/thsarabunnew-webfont.eot?#iefix") format("embedded-opentype"), url("./fonts/thaisarabun/thsarabunnew-webfont.woff") format("woff"), url("./fonts/thaisarabun/thsarabunnew-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Thaisansneue";
  src: url("./fonts/thaisansneue/thaisansneue-regular-webfont.eot");
  src: url("./fonts/thaisansneue/thaisansneue-regular-webfont.eot?#iefix") format("embedded-opentype"), url("./fonts/thaisansneue/thaisansneue-regular-webfont.woff") format("woff"), url("./fonts/thaisansneue/thaisansneue-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Supermarket";
  src: url("./fonts/supermarket/supermarket-webfont.eot");
  src: url("./fonts/supermarket/supermarket-webfont.eot?#iefix") format("embedded-opentype"), url("./fonts/supermarket/supermarket-webfont.woff") format("woff"), url("./fonts/supermarket/supermarket-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Sukhumvitlight";
  src: url("./fonts/sukhumvit/sukhumvitlight-webfont.eot");
  src: url("./fonts/sukhumvit/sukhumvitlight-webfont.eot?#iefix") format("embedded-opentype"), url("./fonts/sukhumvit/sukhumvitlight-webfont.woff") format("woff"), url("./fonts/sukhumvit/sukhumvitlight-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: sukhumvitlight;
  background-color: #FFF;
  font-size: 14px;
  width: 100%; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

.header-top-fix {
  position: fixed;
  height: 30px;
  width: 100%;
  z-index: 99999;
  color: #fff;
  font-size: 12px;
  border-bottom: 1px solid #CDCDCD;
  background: radial-gradient(black 15%, transparent 16%) 0 0, radial-gradient(black 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
  background-color: #282828;
  background-size: 16px 16px; }

.header-context {
  position: absolute;
  width: 100%;
  top: 29px;
  background: url("../images/bg.jpg") #3562C7 no-repeat;
  border-bottom: 2px solid #2980B9; }
  .header-context .roof {
    position: relative;
    height: 15px;
    width: 100%;
    background: transparent url("../images/roof_bright.png") repeat-x 0 0; }
  .header-context .logo-main {
    background: url("../images/logo.png") no-repeat;
    height: 60px;
    width: 162px;
    float: left;
    margin-left: 14px; }
  .header-context .menumain {
    position: absolute;
    left: 178px; }
    .header-context .menumain ul.nav {
      list-style-type: none; }
      .header-context .menumain ul.nav > li {
        width: 80px;
        height: 60px;
        background-color: #fff;
        margin-right: 1px;
        float: left;
        display: block;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border: 1px solid rgba(192, 192, 192, 0.5); }
        .header-context .menumain ul.nav > li a {
          font-size: 14px;
          font-weight: bold;
          text-align: center;
          padding: 5px 0px;
          line-height: 25px;
          hover-background-color: #DCEFFE; }
      .header-context .menumain ul.nav > li.active {
        background-color: #2980B9;
        border-bottom: none; }
        .header-context .menumain ul.nav > li.active a {
          color: #fff; }
      .header-context .menumain ul.nav > li:hover a {
        background-color: #DCEFFE;
        height: 59px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px; }
      .header-context .menumain ul.nav > li.active:hover a {
        background-color: #2980B9; }

aside {
  margin-top: 102px;
  width: 180px;
  height: 100%;
  background-color: #F1F9FC;
  float: left;
  -moz-box-shadow: inset -2px 0px 2px rgba(192, 192, 192, 0.5);
  -webkit-box-shadow: inset -2px 0px 2px rgba(192, 192, 192, 0.5);
  box-shadow: inset -2px 0px 2px rgba(192, 192, 192, 0.5); }
  aside nav ul {
    font-family: Sukhumvitlight;
    font-size: 16px;
    font-weight: bold;
    list-style-type: none;
    padding: 0px;
    margin: 0px; }
    aside nav ul li:first-child {
      border-top: 2px solid #2980B9; }
    aside nav ul li a {
      height: 45px;
      color: #000;
      display: block;
      white-space: nowrap;
      padding: 10px 0px 5px 10px;
      border-right: 1px solid #DCDCDC;
      border-bottom: 1px solid #DCDCDC; }
    aside nav ul li a:hover {
      background-color: #DCEFFE;
      -moz-box-shadow: inset -2px 0px 2px rgba(192, 192, 192, 0.5);
      -webkit-box-shadow: inset -2px 0px 2px rgba(192, 192, 192, 0.5);
      box-shadow: inset -2px 0px 2px rgba(192, 192, 192, 0.5); }
    aside nav ul li.active a {
      color: #fff;
      background-color: #479BD7;
      border: none;
      hover-color: #fff;
      hover-background-color: #479BD7;
      hover--moz-box-shadow: inset -2px 0px 2px rgba(192, 192, 192, 0.5);
      hover--webkit-box-shadow: inset -2px 0px 2px rgba(192, 192, 192, 0.5);
      hover-box-shadow: inset -2px 0px 2px rgba(192, 192, 192, 0.5); }
    aside nav ul li.active ul.dropdown-list {
      position: relative;
      display: block;
      visibility: visible;
      top: 0;
      left: 0; }
      aside nav ul li.active ul.dropdown-list li > a {
        color: #fff;
        background: #479bd7;
        background: rgba(71, 155, 215, 0.7);
        padding-left: 20px;
        font-size: 15px;
        border-bottom: 1px dashed #ccc;
        background-color: none;
        filter: none;
        -moz-box-shadow: inset -2px 0px 2px rgba(192, 192, 192, 0.5);
        -webkit-box-shadow: inset -2px 0px 2px rgba(192, 192, 192, 0.5);
        box-shadow: inset -2px 0px 2px rgba(192, 192, 192, 0.5); }
      aside nav ul li.active ul.dropdown-list li > a:hover {
        background-color: #479bd7; }
      aside nav ul li.active ul.dropdown-list li:last-child > a {
        border-bottom: none; }
    aside nav ul li.resize-in {
      background-color: #2980B9; }
    aside nav ul li.resize-in a:hover {
      background-color: #2980B9; }
    aside nav ul li.resize-in ul a:hover {
      background-color: #DCEFFE; }
    aside nav ul li.active::before {
      background-color: #fff;
      box-shadow: -2px 2px 2px 0 rgba(178, 178, 178, 0.4);
      content: " ";
      display: block;
      height: 20px;
      position: relative;
      float: right;
      margin-top: 10px;
      margin-right: -10px;
      transform: rotate(45deg);
      width: 20px; }
    aside nav ul li.dropdown:hover ul {
      display: block;
      visibility: visible; }
    aside nav ul ul.dropdown-list {
      position: absolute;
      background: #DCEFFE;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid #c0c0c0;
      left: 100%;
      clear: both;
      top: -2px;
      visibility: hidden;
      zoom: 1px;
      z-index: 9; }
      aside nav ul ul.dropdown-list li {
        width: 180px; }
      aside nav ul ul.dropdown-list li a {
        font-size: 16px;
        padding-left: 10px;
        padding-top: 10px; }
      aside nav ul ul.dropdown-list li.active {
        background-color: #2980B9; }
        aside nav ul ul.dropdown-list li.active a:hover {
          background-color: #2980B9; }
      aside nav ul ul.dropdown-list li.active::before {
        content: none; }
  aside nav .resize {
    margin-top: 5px;
    margin-right: 5px;
    float: right;
    padding: 2px;
    background-color: #fff;
    color: #666;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer; }
    aside nav .resize span {
      font-weight: bold;
      font-size: 13px; }

aside.resize-in {
  width: 50px; }
  aside.resize-in nav ul li a span {
    visibility: hidden; }
  aside.resize-in nav ul li.dropdown.active ul > li a span {
    visibility: visible; }
  aside.resize-in nav ul li.dropdown a span {
    visibility: hidden; }
  aside.resize-in nav ul li.dropdown:hover ul > li a span {
    visibility: visible; }

scetion {
  font-family: "THSarabunNew";
  right: 0;
  left: 180px;
  height: auto;
  position: absolute;
  top: 104px;
  border-top: 2px solid #2980B9; }
  scetion article .breadcrumb {
    height: 44px;
    padding: 2px;
    background-color: #fff;
    border-bottom: 1px dashed #ccc; }
  scetion article .breadcrumb::before {
    content: url("../images/icons/arrow-right.png");
    position: absolute;
    top: 5px;
    left: 10px; }
  scetion article .breadcrumb-title {
    position: absolute;
    top: 8px;
    left: 55px; }
    scetion article .breadcrumb-title p {
      font-size: 15px;
      font-weight: bold;
      line-height: 10px; }
    scetion article .breadcrumb-title p.th {
      color: #BBB; }
    scetion article .breadcrumb-title p.en {
      color: #479BD7; }

/*# sourceMappingURL=style.css.map */
